* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.App {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, #000000 0%, rgba(84, 82, 82, 0) 48.26%, #FEAE34 100%);
  
  
}
.content {
  padding-top: 150px;
  padding-bottom: 50px; 
}